<div>
    <h1>hELLO</h1>
    <ul class="list-group">
        {{orgInfo}}
        <li class="list-group-item">{{orgInfo.fullName}}</li>
        <li class="list-group-item">{{organization.fullName}}</li>
        <li class="list-group-item">{{organization.short_name}}</li>
        <li class="list-group-item">{{organization.full_name_eng}}</li>
        <li class="list-group-item">{{organization.form}}</li>
        <li class="list-group-item">{{organization.subordination}}</li>
        <li class="list-group-item">{{organization.projects}}</li>
        <li class="list-group-item">{{organization.code}}</li>
        <li class="list-group-item">{{organization.legal_adress}}</li>
        <li class="list-group-item">{{organization.factual_adress}}</li>
        <li class="list-group-item">{{organization.phone_number}}</li>
        <li class="list-group-item">{{organization.site}}</li>
        <li class="list-group-item">{{organization.email}}</li>
        <li class="list-group-item">{{organization.name_of_director}}</li>
        <li class="list-group-item">{{organization.name_of_foundeer}}</li>
        <li class="list-group-item">{{organization.subject}}</li>
        <li class="list-group-item">{{organization.memberships}}</li>
        <li class="list-group-item">{{organization.fullName}}</li>
        <li class="list-group-item">{{organization.fullName}}</li>
        <li class="list-group-item">{{organization.fullName}}</li>
        <li class="list-group-item">{{organization.fullName}}</li>



    </ul>
</div>